<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h3>Registration Fundoo Note</h3>

    <form method="post">
        Username   :   <input type="text" name="username" placeholder="username"><br><br>
        Password   :   <input type="password" name="password" placeholder="password" required><br><br>
        First Name :   <input type="text" name="first_name" placeholder="first name" required><br><br>
        Last Name  :   <input type="text" name="last_name" placeholder="last name" required><br><br>
        email      :   <input type="email" name="email" placeholder="email" required> <br><br>
        phone_number  :   <input type="text" name="phone_number" placeholder="phone number" required><br><br>
        Location   :   <input type="text" name="location" placeholder="location" required><br><br>


        <button type="submit">Sign Up</button>
    </form>
</body>
</html>